@mixin link {
  @media only screen and (max-width: 767px) {
    font-size: 1em;
  }
  color: white;
  float: right;
  font-size: 2em;
}

@mixin text_content {
  margin-bottom: 5%;
  margin-top: 5%;

  @media only screen and (min-width: 768px) {
    clear: both;
    display: block;
    height: 25%;
    .image_content{
      width: 50%;
      padding-left: 5%;
      padding-right: 5%;
      text-align: center;
      float: left;
      .image_container{
        width: 100%;

        .image{
          width: 90%;
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
          }
        .portrait{
          height: 100%;
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
        }
        #big{
          width: 100%;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
        }
        }
      .image_container_about{
       width: 100%;
       .image{
         height: 100%;
         box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
       }
      }
    }
    .text_content{
      width: 35%;
      float:left;
      font-size: 18px;

       padding-right: 5%;
    }
  }
  @media only screen and (max-width: 767px) {
    .image_content{
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      text-align: center;
      .image_container{
      margin-bottom: 3%;
      .image{
        width: 100%;

        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    }
    .portrait{
      width: 50%;
      height: 50%;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    }
    }
    .image_container_about{
      margin-bottom: 3%;
     .image{
       height: 50%;
       box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
     }
    }


  }
    .text_content{
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }


}

@mixin title {
  text-align: center;
  // text-decoration: underline;
  color: grey;
  // text-decoration-color: grey;
  border-bottom-color: grey;
  border-bottom-width: thin;
  border-bottom-style: solid;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
}

html,body {
   margin:0;
   padding:0;
   height:100%;
  font-family: 'Playfair Display', sans-serif;

#container {
   min-height:100%;
   position:relative;

#header {
  nav{
     content: "";
     clear: both;
     display: block;
     background-color: black;
     width: 100%;
     height: 10%;
     padding-bottom: 2%;
     .Logo_Nav{
       width: 20%;
       float: left;
       padding: 1%;
       .logo{
         height: 100%;
       }
     }

     .Nav_Links{
       text-align: center;
       width: 75%;
       float: right;
       height: 100%;
       .link{
          width: 33.33%;
          @include link;

       }
       .four_links{
         @include link;
         width: 25%;
       }
     }

   }

}
#body {
  @media only screen and (max-width: 767px) {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  @media only screen and (min-width: 767px) {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
  }

  .problem{
    width: 100%;
    .problem_title{
      font-size: 2em;
      @include title;

    }
    .problem_text{
      margin-top: 5%;
      margin-bottom: 5%;
      font-size: 1em;
      margin-left: 7%;
      margin-right: 7%
    }


}
.research{
  width: 100%;
  padding-bottom: 1%;
  .research_title{
    font-size: 1.5em;
    @include title;
  }
  .research_content{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1em;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 18px;
  }
}
.design{


  .design_title{
    font-size: 1.5em;
    @include title;
  }

}
.design_content{

  width: 100%;
    @include text-content;
}
.develop{

  width: 100%;

  .develop_title{
    font-size: 1.5em;
    @include title;
  }

}
#ruby{
    margin-top: 10%;
  }
.develop_content{
    @include text-content;

}
.test{

  width: 100%;
  padding-bottom: 1%;
  .test_title{
    font-size: 1.5em;
    @include title;
  }
  .test_text{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1em;
    margin-left: 7%;
    margin-right: 7%
  }
}

.about{
  width: 100%;

  .about_title{
    font-size: 2em;
    @include title;
  }

}
.about_content{
  height: 50%;
    @include text-content;

}

.personal{
  width: 100%;
  .personal_title{
    font-size: 1.5em;
    @include title;
  }

}
.personal_content{
    @include text-content;
  @media only screen and (min-width: 768px) {
    .text {
      font-size: 1rem;
    }
  }
  @media only screen and (min-width: 768px) {
    .text{
      font-size: 1rem;
    }
  }


}

.previous_work{
  width: 100%;
  .previous_work_title{
    font-size: 1.5em;
    @include title;
  }

}
.previous_work_content{
    @include text-content;
    margin-bottom: 1%;

}
  .links{
    text-align: center;
    width: 100%;

    .social{
      width: 33%;
      float: left;
      a:link, a:visited, a:hover, a:hover {
        text-decoration: none;
        color: black;

      }

    }
  }
}



}
}
